.App {
  text-align: center;
  font-family: "Calibri", sans-serif;
}

.board {
  height: 500px;
  background-color: #f7f8fa;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  padding: unset;
}
